In [27]:
# packages
import pymysql
import pandas as pd

# files
from auth import host, user, password, database
from queries import query_all

In [28]:
# creating connection
db_connection = pymysql.connect(host = host,
                                        user = user,
                                        password = password,
                                        database = database)

# creating cursor
cursor = db_connection.cursor()

In [29]:
# getting the query to a dataframe
df = pd.read_sql(query_all, 
                db_connection,
                index_col = 'id')

/Users/hectorcozar/Documents/GitHub/templates/venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [30]:
df.head()

,model,cpu_model,os,release_date,memory_base_model,price_base_model,memory_upgrade_1,prince_upgrade_1,memory_upgrade_2,price_upgrade_2,memory_upgrade_3,price_upgrade_3,inches,weight_grams,display_type,ram,refresh_rate
id,,,,,,,,,,,,,,,,,
1,iPhone,Samsung ARM 1176,iPhone OS 1.0,29-6-07,4GB,499$,8GB,599$,NA,NA,NA,NA,"3,5",136,LCD,128MB,60Hz
2,iPhone,Samsung ARM 1176,iPhone OS 1.0,5-2-08,NA,NA,NA,NA,16GB,499$,NA,NA,"3,5",136,LCD,128MB,60Hz
3,iPhone 3G,Samsung ARM 1176JZF-S,iPhone OS 2.0,7-11-08,8GB,599$,16GB,699$,NA,NA,NA,NA,"3,5",133,LCD,128MB,60Hz
4,iPhone 3GS,Samsung ARM APL0298C05,iPhone OS 3.0,17-6-09,8GB,599$,16GB,649$,32GB,699$,NA,NA,"3,5",135,LCD,256MB,60Hz
5,iPhone 4,Apple A4,IOS 4.0,21-6-10,NA,NA,16GB,599$,32GB,699$,NA,NA,"3,5",137,LCD,512MB,60Hz

In [31]:
# closing connections
cursor.close()
db_connection.close()